<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Entry Form</title>
</head>
<body>

<h3>Data Entry</h3>

<form action="#" th:action="@{/data/save}" th:object="${appData}" method="POST">

    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{appName}" placeholder="App Name">
    <input type="text" th:field="*{appId}" placeholder="AppId">
    <input type="text" th:field="*{category}" placeholder="Category">
    <input type="text" th:field="*{rating}" placeholder="Rating">
    <input type="text" th:field="*{free}" placeholder="Free">
    <input type="text" th:field="*{price}" placeholder="Price">
    <input type="text" th:field="*{androidVersion}" placeholder="Minimum Android Version">
    <input type="text" th:field="*{developerId}" placeholder="Developer Id">
    <button type="submit">Save</button>


</form>


</body>
</html>