<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Entry Form</title>
</head>
<body>

<h3>Data Entry</h3>

<form action="#" th:action="@{/data/save}" th:object="${appData}" method="POST">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{size}">
    <p>
        <span th:errors="*{appName}" th:if="${#fields.hasErrors('appName')}"/>
        <input type="text" th:field="*{appName}" placeholder="App Name">
    </p>
    <p>
        <span th:errors="*{appId}" th:if="${#fields.hasErrors('appId')}"/>
        <input type="text" th:field="*{appId}" placeholder="AppId">
    </p>
    <p>
        <span th:errors="*{category}" th:if="${#fields.hasErrors('category')}"/>
        <input type="text" th:field="*{category}" placeholder="Category">
    </p>
    <p>
        <span th:errors="*{rating}" th:if="${#fields.hasErrors('rating')}"/>
        <input type="text" th:field="*{rating}" placeholder="Rating">
    </p>
    <p>
        <span th:errors="*{free}" th:if="${#fields.hasErrors('free')}"/>
        <input type="text" th:field="*{free}" placeholder="Free">
    </p>
    <p>
        <span th:errors="*{price}" th:if="${#fields.hasErrors('price')}"/>
        <input type="text" th:field="*{price}" placeholder="Price">
    </p>
    <p>
        <span th:errors="*{androidVersion}" th:if="${#fields.hasErrors('androidVersion')}"/>
        <input type="text" th:field="*{androidVersion}" placeholder="Minimum Android Version">
    </p>
    <p>
        <span th:errors="*{developerId}" th:if="${#fields.hasErrors('developerId')}"/>
        <input type="text" th:field="*{developerId}" placeholder="Developer Id">
    </p>

    <button type="submit">Save</button>


</form>


</body>
</html>